src/wsdl/localhost_8080/Final/bws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://businessOperationsLayer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://businessOperationsLayer/" name="bws">
<types>
<xsd:schema>
<xsd:import namespace="http://businessOperationsLayer/" schemaLocation="http://localhost:8080/Final/bws?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="deleteAdminResponse">
<part name="parameters" element="tns:deleteAdminResponse"/>
</message>
<message name="RegisterAdmin">
<part name="parameters" element="tns:RegisterAdmin"/>
</message>
<message name="RegisterAdminResponse">
<part name="parameters" element="tns:RegisterAdminResponse"/>
</message>
<message name="RegisterUser">
<part name="parameters" element="tns:RegisterUser"/>
</message>
<message name="RegisterUserResponse">
<part name="parameters" element="tns:RegisterUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="LoginUser">
<part name="parameters" element="tns:LoginUser"/>
</message>
<message name="LoginUserResponse">
<part name="parameters" element="tns:LoginUserResponse"/>
</message>
<message name="LoginAdmin">
<part name="parameters" element="tns:LoginAdmin"/>
</message>
<message name="LoginAdminResponse">
<part name="parameters" element="tns:LoginAdminResponse"/>
</message>
<message name="addSkills">
<part name="parameters" element="tns:addSkills"/>
</message>
<message name="addSkillsResponse">
<part name="parameters" element="tns:addSkillsResponse"/>
</message>
<message name="addExperience">
<part name="parameters" element="tns:addExperience"/>
</message>
<message name="addExperienceResponse">
<part name="parameters" element="tns:addExperienceResponse"/>
</message>
<message name="addJob">
<part name="parameters" element="tns:addJob"/>
</message>
<message name="addJobResponse">
<part name="parameters" element="tns:addJobResponse"/>
</message>
<message name="updateSkills">
<part name="parameters" element="tns:updateSkills"/>
</message>
<message name="updateSkillsResponse">
<part name="parameters" element="tns:updateSkillsResponse"/>
</message>
<message name="getApplicants">
<part name="parameters" element="tns:getApplicants"/>
</message>
<message name="getApplicantsResponse">
<part name="parameters" element="tns:getApplicantsResponse"/>
</message>
<message name="getJobInfo">
<part name="parameters" element="tns:getJobInfo"/>
</message>
<message name="getJobInfoResponse">
<part name="parameters" element="tns:getJobInfoResponse"/>
</message>
<message name="getAdminInfo">
<part name="parameters" element="tns:getAdminInfo"/>
</message>
<message name="getAdminInfoResponse">
<part name="parameters" element="tns:getAdminInfoResponse"/>
</message>
<message name="getSkillInfo">
<part name="parameters" element="tns:getSkillInfo"/>
</message>
<message name="getSkillInfoResponse">
<part name="parameters" element="tns:getSkillInfoResponse"/>
</message>
<message name="getExpInfo">
<part name="parameters" element="tns:getExpInfo"/>
</message>
<message name="getExpInfoResponse">
<part name="parameters" element="tns:getExpInfoResponse"/>
</message>
<message name="deleteskill">
<part name="parameters" element="tns:deleteskill"/>
</message>
<message name="deleteskillResponse">
<part name="parameters" element="tns:deleteskillResponse"/>
</message>
<message name="deleteExp">
<part name="parameters" element="tns:deleteExp"/>
</message>
<message name="deleteExpResponse">
<part name="parameters" element="tns:deleteExpResponse"/>
</message>
<message name="deleteJob">
<part name="parameters" element="tns:deleteJob"/>
</message>
<message name="deleteJobResponse">
<part name="parameters" element="tns:deleteJobResponse"/>
</message>
<message name="addQualifications">
<part name="parameters" element="tns:addQualifications"/>
</message>
<message name="addQualificationsResponse">
<part name="parameters" element="tns:addQualificationsResponse"/>
</message>
<message name="updateExperience">
<part name="parameters" element="tns:updateExperience"/>
</message>
<message name="updateExperienceResponse">
<part name="parameters" element="tns:updateExperienceResponse"/>
</message>
<message name="updateQualifications">
<part name="parameters" element="tns:updateQualifications"/>
</message>
<message name="updateQualificationsResponse">
<part name="parameters" element="tns:updateQualificationsResponse"/>
</message>
<message name="getUserJobInfo">
<part name="parameters" element="tns:getUserJobInfo"/>
</message>
<message name="getUserJobInfoResponse">
<part name="parameters" element="tns:getUserJobInfoResponse"/>
</message>
<message name="getUserEvaluationAll">
<part name="parameters" element="tns:getUserEvaluationAll"/>
</message>
<message name="getUserEvaluationAllResponse">
<part name="parameters" element="tns:getUserEvaluationAllResponse"/>
</message>
<message name="getQualificationsInfo">
<part name="parameters" element="tns:getQualificationsInfo"/>
</message>
<message name="getQualificationsInfoResponse">
<part name="parameters" element="tns:getQualificationsInfoResponse"/>
</message>
<message name="getApplicantSkills">
<part name="parameters" element="tns:getApplicantSkills"/>
</message>
<message name="getApplicantSkillsResponse">
<part name="parameters" element="tns:getApplicantSkillsResponse"/>
</message>
<message name="getApplicantExp">
<part name="parameters" element="tns:getApplicantExp"/>
</message>
<message name="getApplicantExpResponse">
<part name="parameters" element="tns:getApplicantExpResponse"/>
</message>
<message name="getApplicantQualifications">
<part name="parameters" element="tns:getApplicantQualifications"/>
</message>
<message name="getApplicantQualificationsResponse">
<part name="parameters" element="tns:getApplicantQualificationsResponse"/>
</message>
<message name="evaluateApplicant">
<part name="parameters" element="tns:evaluateApplicant"/>
</message>
<message name="evaluateApplicantResponse">
<part name="parameters" element="tns:evaluateApplicantResponse"/>
</message>
<message name="deleteQualifications">
<part name="parameters" element="tns:deleteQualifications"/>
</message>
<message name="deleteQualificationsResponse">
<part name="parameters" element="tns:deleteQualificationsResponse"/>
</message>
<message name="addUserInformation">
<part name="parameters" element="tns:addUserInformation"/>
</message>
<message name="addUserInformationResponse">
<part name="parameters" element="tns:addUserInformationResponse"/>
</message>
<portType name="bws">
<operation name="deleteAdmin">
<input wsam:Action="http://businessOperationsLayer/bws/deleteAdminRequest" message="tns:deleteAdmin"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteAdminResponse" message="tns:deleteAdminResponse"/>
</operation>
<operation name="RegisterAdmin">
<input wsam:Action="http://businessOperationsLayer/bws/RegisterAdminRequest" message="tns:RegisterAdmin"/>
<output wsam:Action="http://businessOperationsLayer/bws/RegisterAdminResponse" message="tns:RegisterAdminResponse"/>
</operation>
<operation name="RegisterUser">
<input wsam:Action="http://businessOperationsLayer/bws/RegisterUserRequest" message="tns:RegisterUser"/>
<output wsam:Action="http://businessOperationsLayer/bws/RegisterUserResponse" message="tns:RegisterUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://businessOperationsLayer/bws/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="LoginUser">
<input wsam:Action="http://businessOperationsLayer/bws/LoginUserRequest" message="tns:LoginUser"/>
<output wsam:Action="http://businessOperationsLayer/bws/LoginUserResponse" message="tns:LoginUserResponse"/>
</operation>
<operation name="LoginAdmin">
<input wsam:Action="http://businessOperationsLayer/bws/LoginAdminRequest" message="tns:LoginAdmin"/>
<output wsam:Action="http://businessOperationsLayer/bws/LoginAdminResponse" message="tns:LoginAdminResponse"/>
</operation>
<operation name="addSkills">
<input wsam:Action="http://businessOperationsLayer/bws/addSkillsRequest" message="tns:addSkills"/>
<output wsam:Action="http://businessOperationsLayer/bws/addSkillsResponse" message="tns:addSkillsResponse"/>
</operation>
<operation name="addExperience">
<input wsam:Action="http://businessOperationsLayer/bws/addExperienceRequest" message="tns:addExperience"/>
<output wsam:Action="http://businessOperationsLayer/bws/addExperienceResponse" message="tns:addExperienceResponse"/>
</operation>
<operation name="addJob">
<input wsam:Action="http://businessOperationsLayer/bws/addJobRequest" message="tns:addJob"/>
<output wsam:Action="http://businessOperationsLayer/bws/addJobResponse" message="tns:addJobResponse"/>
</operation>
<operation name="updateSkills">
<input wsam:Action="http://businessOperationsLayer/bws/updateSkillsRequest" message="tns:updateSkills"/>
<output wsam:Action="http://businessOperationsLayer/bws/updateSkillsResponse" message="tns:updateSkillsResponse"/>
</operation>
<operation name="getApplicants">
<input wsam:Action="http://businessOperationsLayer/bws/getApplicantsRequest" message="tns:getApplicants"/>
<output wsam:Action="http://businessOperationsLayer/bws/getApplicantsResponse" message="tns:getApplicantsResponse"/>
</operation>
<operation name="getJobInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getJobInfoRequest" message="tns:getJobInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getJobInfoResponse" message="tns:getJobInfoResponse"/>
</operation>
<operation name="getAdminInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getAdminInfoRequest" message="tns:getAdminInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getAdminInfoResponse" message="tns:getAdminInfoResponse"/>
</operation>
<operation name="getSkillInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getSkillInfoRequest" message="tns:getSkillInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getSkillInfoResponse" message="tns:getSkillInfoResponse"/>
</operation>
<operation name="getExpInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getExpInfoRequest" message="tns:getExpInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getExpInfoResponse" message="tns:getExpInfoResponse"/>
</operation>
<operation name="deleteskill">
<input wsam:Action="http://businessOperationsLayer/bws/deleteskillRequest" message="tns:deleteskill"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteskillResponse" message="tns:deleteskillResponse"/>
</operation>
<operation name="deleteExp">
<input wsam:Action="http://businessOperationsLayer/bws/deleteExpRequest" message="tns:deleteExp"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteExpResponse" message="tns:deleteExpResponse"/>
</operation>
<operation name="deleteJob">
<input wsam:Action="http://businessOperationsLayer/bws/deleteJobRequest" message="tns:deleteJob"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteJobResponse" message="tns:deleteJobResponse"/>
</operation>
<operation name="addQualifications">
<input wsam:Action="http://businessOperationsLayer/bws/addQualificationsRequest" message="tns:addQualifications"/>
<output wsam:Action="http://businessOperationsLayer/bws/addQualificationsResponse" message="tns:addQualificationsResponse"/>
</operation>
<operation name="updateExperience">
<input wsam:Action="http://businessOperationsLayer/bws/updateExperienceRequest" message="tns:updateExperience"/>
<output wsam:Action="http://businessOperationsLayer/bws/updateExperienceResponse" message="tns:updateExperienceResponse"/>
</operation>
<operation name="updateQualifications">
<input wsam:Action="http://businessOperationsLayer/bws/updateQualificationsRequest" message="tns:updateQualifications"/>
<output wsam:Action="http://businessOperationsLayer/bws/updateQualificationsResponse" message="tns:updateQualificationsResponse"/>
</operation>
<operation name="getUserJobInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getUserJobInfoRequest" message="tns:getUserJobInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getUserJobInfoResponse" message="tns:getUserJobInfoResponse"/>
</operation>
<operation name="getUserEvaluationAll">
<input wsam:Action="http://businessOperationsLayer/bws/getUserEvaluationAllRequest" message="tns:getUserEvaluationAll"/>
<output wsam:Action="http://businessOperationsLayer/bws/getUserEvaluationAllResponse" message="tns:getUserEvaluationAllResponse"/>
</operation>
<operation name="getQualificationsInfo">
<input wsam:Action="http://businessOperationsLayer/bws/getQualificationsInfoRequest" message="tns:getQualificationsInfo"/>
<output wsam:Action="http://businessOperationsLayer/bws/getQualificationsInfoResponse" message="tns:getQualificationsInfoResponse"/>
</operation>
<operation name="getApplicantSkills">
<input wsam:Action="http://businessOperationsLayer/bws/getApplicantSkillsRequest" message="tns:getApplicantSkills"/>
<output wsam:Action="http://businessOperationsLayer/bws/getApplicantSkillsResponse" message="tns:getApplicantSkillsResponse"/>
</operation>
<operation name="getApplicantExp">
<input wsam:Action="http://businessOperationsLayer/bws/getApplicantExpRequest" message="tns:getApplicantExp"/>
<output wsam:Action="http://businessOperationsLayer/bws/getApplicantExpResponse" message="tns:getApplicantExpResponse"/>
</operation>
<operation name="getApplicantQualifications">
<input wsam:Action="http://businessOperationsLayer/bws/getApplicantQualificationsRequest" message="tns:getApplicantQualifications"/>
<output wsam:Action="http://businessOperationsLayer/bws/getApplicantQualificationsResponse" message="tns:getApplicantQualificationsResponse"/>
</operation>
<operation name="evaluateApplicant">
<input wsam:Action="http://businessOperationsLayer/bws/evaluateApplicantRequest" message="tns:evaluateApplicant"/>
<output wsam:Action="http://businessOperationsLayer/bws/evaluateApplicantResponse" message="tns:evaluateApplicantResponse"/>
</operation>
<operation name="deleteQualifications">
<input wsam:Action="http://businessOperationsLayer/bws/deleteQualificationsRequest" message="tns:deleteQualifications"/>
<output wsam:Action="http://businessOperationsLayer/bws/deleteQualificationsResponse" message="tns:deleteQualificationsResponse"/>
</operation>
<operation name="addUserInformation">
<input wsam:Action="http://businessOperationsLayer/bws/addUserInformationRequest" message="tns:addUserInformation"/>
<output wsam:Action="http://businessOperationsLayer/bws/addUserInformationResponse" message="tns:addUserInformationResponse"/>
</operation>
</portType>
<binding name="bwsPortBinding" type="tns:bws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSkills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addExperience">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSkills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApplicants">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdminInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSkillInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExpInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteskill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteExp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQualifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateExperience">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateQualifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserJobInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserEvaluationAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQualificationsInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApplicantSkills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApplicantExp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApplicantQualifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="evaluateApplicant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteQualifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUserInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bws">
<port name="bwsPort" binding="tns:bwsPortBinding">
<soap:address location="http://localhost:8080/Final/bws"/>
</port>
</service>
</definitions>